## Exercises for Module 1 - Operators

Place your solutions to the exercises in the empty code cell directly below the exercise.

### Solutions

All the solutions to the exercises may be found in the **Solutions** notebook. Make sure to attempt the exercises before looking at the solutions. Even if you have solved the exercise correctly, it can be helpful to see the provided solution. There are often multiple ways of arriving at the same answer and there might be a more direct or effective way.

### Exercise 1

<span style="color:green">How many seconds are there in a century assuming each year has 365 days?</span>

In [1]:
60*60*24*365

31536000

### Exercise 2

<span style="color:green">Write an expression to find the amount of money (as a whole number rounded down to the nearest integer) that each person would get if a one-million dollar lottery was divided equally amongst 436 people.</span>

In [2]:
1000000 // 436

2293

### Exercise 3

<span style="color:green">Repeat exercise 2, except use one-trillion dollars. Use the exponentiation operator instead of writing lots of 0's.</span>

In [3]:
(10 ** 12) // 436

2293577981

### Exercise 4

<span style="color:green">From the 1 million dollars, how much money is left over after giving each of the 436 people the amount of money calculated from Exercise 2.</span>

In [4]:
1000000 % 436

252

### Exercise 5

<span style="color:green">Is 245 times 99 greater than 8 raised to the 5th power?</span>

In [6]:
(245 * 99) > (8 ** 5)

False

### Exercise 6

<span style="color:green">Used a chained comparison to show that 2 raised to the 10th power is greater than 10 raised to the 3rd power which is greater than 31 squared.</span>

In [7]:
2 ** 10 > 10 ** 3 > 31 ** 2

True

### Exercise 7

<span style="color:green">How many unary operators are present in the following expression? </span>
    
```python
-6 / -5 - 4 - 3 ** 2 * -1
```

In [ ]:
3

### Exercise 8
<span style="color:green">Create an expression that uses arithmetic, comparison, unary, and boolean operators that evaluates to `False`.</span>

In [8]:
-6 + 5 > 10 or 3**5 <10

False

### Exercise 9

<span style="color:green">You purchase a phone for 99 dollars. There is 8 percent sales tax. Compute the total price. Use four variable names to store the phone price, sales tax percentage, calculated sales tax and the total price. Output all the variables at the same time.</span>

In [10]:
phone = 99
sales_tax_percent= .08
calc_sales_tax = phone * sales_tax_percent
total = phone + calc_sales_tax
print (phone, sales_tax_percent, calc_sales_tax, total)

99 0.08 7.92 106.92

### Exercise 10

<span style="color:green">Use an augmented assignment statement to multiply `x` by `y` and reassign that value to y.</span>

In [11]:
x = 16
y = 32

In [12]:
y *=x
y

512