## Exercises for Module 3 - Objects and Types

Place your solutions to the exercises in the empty code cell directly below the exercise.

### Solutions

All the solutions to the exercises may be found in the **Solutions** notebook. Make sure to attempt the exercises before looking at the solutions. Even if you have solved the exercise correctly, it can be helpful to see the provided solution. There are often multiple ways of arriving at the same answer and there might be a more direct or effective way.

### Exercise 1

<span style="color:green">What is the type of the number 0?</span>

In [1]:
type(0)

int

### Exercise 2

<span style="color:green">What is `True` raised to the `False`?</span>

In [2]:
True ** False

1

### Exercise 3

<span style="color:green">Verify that `1e6` and one million are equivalent.</span>

In [4]:
1e6 == 1000000

True

### Exercise 4

<span style="color:green">Do you think the operation `6 / 2` will result in an int or a float? Use the `type` function to see if you were correct. Was it the type you expected? Why do you think it evaluates as that type? </span>

In [5]:
type(6/2)

float

### Exercise 5

<span style="color:green">Write the number 1 million using underscores where commas would normally go.</span>

In [6]:
1_000_000

1000000