## Exercises for Module 5 - Lists

### Exercise 1

<span style="color:green">Create a list with 4 items that are each a different type and assign it to variable. Output it to the screen.</span>

In [2]:
a = [10, 'string', True, 5.3]
a

[10, 'string', True, 5.3]

### Exercise 2

<span style="color:green">Verify that list `a` from exercise 1 has length 4.</span>

In [3]:
len(a)

4

### Exercise 3

<span style="color:green">Select the first item from list `a`.</span>

In [4]:
a[0]

10

### Exercise 4

<span style="color:green">Select the last item from list `a`.</span>

In [5]:
a[len(a)-1]
### wanted to get fancy on em

5.3

### Exercise 5

<span style="color:green">Assign the third item in list `a` a different value of the same type. Output the list.</span>

In [6]:
a[2]=False
a

[10, 'string', False, 5.3]

### Exercise 6

<span style="color:green">Mutate `list_2` and output both lists. Does mutating `list_2` change `list_1`? </span>

In [9]:
list_1 = [1, 5, 10]

list_2 = list_1

list_2[0]= 3

In [10]:
list_1 is list_2

True

### Exercise 7

<span style="color:green">Verify that `list_1` and `list_2` from exercise 6 refer to the same object.</span>

In [11]:
list_1 is list_2

True

### Exercise 8

<span style="color:green">In the following code, both `list_1` and `list_2` are defined to have the same values. Mutate `list_1`. Does `list_2` also get mutated?</span>

In [12]:
list_1 = [1, 3, 5]
list_2 = [1, 3, 5]

In [13]:
list_1[1]=4
list_2

[1, 3, 5]

### Exercise 9

<span style="color:green">Verify that `list_1` and `list_2` from exercise 8 do not refer to the same object.</span>

In [14]:
list_1 is list_2

False

### Exercise 10

<span style="color:green">Does the identity of a list change after it is sorted? Use an example to determine the outcome.</span>

In [16]:
exlist = [1,2,9,8,7]
print(id(exlist))
exlist.sort()
print(id(exlist))
exlist

2505629650112
2505629650112

[1, 2, 7, 8, 9]

### Exercise 11

<span style="color:green">Create two lists of different lengths and assign them to variables `a` and `b`. Use the + operator to concatenate the lists and assign the result to variable `c` and output it. Reassign the first value of list `c` to something else. Does list `a` also get mutated?</span>

In [17]:
a = [1,2,3]
b = [4,5,6,7]
c = a + b
c[0]= 'two'
print(c)
print(a)

['two', 2, 3, 4, 5, 6, 7]
[1, 2, 3]

### Exercise 12

<span style="color:green">Create a list then use the `extend` method to add items to it.</span>

In [20]:
twlist = [1,2]
twlist.extend('a')
twlist

[1, 2, 'a']

### Exercise 13

<span style="color:green">Create a list of three items and assign it to variable `a`. Concatenate it to itself 4 times.</span>

In [21]:
a = [1,2,3]
a * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### Exercise 14

<span style="color:green">Create a list containing three inner lists. Replace the second list with a reverse of the third list.</span>

In [25]:
h = [[1,2,3],[4,5,6],[7,8,9]]
h[1] = h[2][::-1]
h

[[1, 2, 3], [9, 8, 7], [7, 8, 9]]

### Exercise 15

<span style="color:green">Use a method to find the index of the string 'python' in the following list.</span>

In [26]:
a = ['rattlesnake', 'cottonmouth', 'python', 'cobra']
a.index('python')

2

### Exercise 16

<span style="color:green">Create an empty list and assign it to a variable. Append the string 'python' to it. Then call the `extend` method and pass the string 'python' to it. Output the list.</span>

In [27]:
j = []
j.append('python')
j.extend('python')
j

['python', 'p', 'y', 't', 'h', 'o', 'n']

### Exercise 17

<span style="color:green">Can a list with only booleans, integers, and floats be sorted? Use an example to show why or why not.</span>

In [29]:
### Yes it can be sorted because all of those are numerial

k = [True, 5, -9.3]
k.sort()
k

[-9.3, True, 5]

### Exercise 18

<span style="color:green">Select the items with even indexes from list `a` as a new list.</span>

In [30]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
a[::2]

[0, 2, 4, 6, 8, 10]

### Exercise 19

<span style="color:green">Is the string 'py' an element of list `a`?</span>

In [33]:
a = ['python', 'numpy']
# elements mean a list item
'py'in a

False

### Exercise 20

<span style="color:green">Is the string 'py' a substring of the first item in list `a`?</span>

In [34]:
a = ['python', 'numpy']
'py' in a[0]

True

### Exercise 21

<span style="color:green">Assign an empty list to variable `a`. Multiply this list by 1000 and find its length.</span>

In [35]:
a = []
len(a * 1000)

0

### Exercise 22

<span style="color:green">Use the character 'a' to separate and join the following list to reveal the magic word </span>

In [36]:
magic_word = ['', 'b', 'r', 'c', 'd', 'b', 'r', '!']
"a".join(magic_word)

'abaracadabara!'

### Exercise 23

<span style="color:green">Concatenate the following list into a single string. Use a separator that will make a valid English sentence.</span>

In [37]:
sentence = ['H', 'rod', 'th', 'bik', 'twic', '.']
"e ".join(sentence)

'He rode the bike twice .'

### Exercise 24

<span style="color:green">Create a new string that inserts the word `'is'` after the string `'python'` in the following string.</span>

In [39]:
s = 'The programming language python fantastic'

In [40]:
words = s.split()
index = words.index('python') + 1
words.insert(index, 'is')
' '.join(words)

'The programming language python is fantastic'

### Exercise 25

<span style="color:green">Replace all occurrences of the `'*'` with `'o'`.</span>

In [41]:
s = '*n July 20, 1969 astr*nauts landed *n the m**n'

In [42]:
s.replace('*','o')

'on July 20, 1969 astronauts landed on the moon'