## Exercises for Module 4 - Strings

Place your solutions to the exercises in the empty code cell directly below the exercise.

### Solutions

All the solutions to the exercises may be found in the **Solutions** notebook. Make sure to attempt the exercises before looking at the solutions. Even if you have solved the exercise correctly, it can be helpful to see the provided solution. There are often multiple ways of arriving at the same answer and there might be a more direct or effective way.


### Exercise 1
<span style="color:green">Create a string using single quote marks and assign it to variable `a`.</span>

In [1]:
a = 'Apple'

### Exercise 2
<span style="color:green">Create the same string from exercise 1 with double quotes, triple single quotes, and triple double quotes saving them to variables `b`, `c`, and `d`. Use a chained comparison to test that all three strings have equal values.</span>

In [2]:
b = "Apple"
c = '''Apple'''
d = """Apple"""

a == b == c == d

True

### Exercise 3
<span style="color:green">Create a string using single quotes that contains one double quotes character in it.</span>

In [3]:
people = 'Apple "soda"'
people

'Apple "soda"'

### Exercise 4

<span style="color:green">Use escape characters to insert new lines, tabs, and single and double quotes into a string. Print it to the screen to verify.</span>

In [4]:
Ex = 'apple \n soda \t moon \' dope\"'
print(Ex)

apple
 soda 	 moon ' dope"

### Exercise 5

<span style="color:green">Use a comparison operator to verify that the strings 'word' and 'WORD' are not equal.</span>

In [5]:
'word' == 'WORD'

False

### Exercise 6

<span style="color:green">Which string is greater, 'Zero' or 'hero'?</span>

In [ ]:
hero

### Exercise 7

<span style="color:green">Use the `ord` function to verify the result from exercise 6.</span>

In [8]:
print (ord('h'))
print (ord('Z'))

104
90

### Exercise 8

<span style="color:green">Is it possible to concatenate a string and an integer together?</span>

In [ ]:
yes

### Exercise 9

<span style="color:green">Concatenate two strings together that both have length greater than 1.</span>

In [9]:
"apple" + " side"

'apple side'

### Exercise 10

<span style="color:green">Concatenate a non-empty string to an empty string.</span>

In [10]:
" " + 'door'

' door'

### Exercise 11

<span style="color:green">Replace each occurrence of 'in' with 'out' in the following string. </span>

In [11]:
replace_string = 'it is starting to rain on the inside'

In [12]:
replace_string.replace('in','out',-1)

'it is startoutg to raout on the outside'

### Exercise 12

<span style="color:green">Find and use a method that will strip away all the exclamation points from either end of the following string.</span>

In [13]:
s = 'string with a dull message!!!!'
s.rstrip('!')

'string with a dull message'

### Exercise 13

<span style="color:green">Find and use a method that will find the position of the first occurrence of the letter `t` in the following string. </span>

In [14]:
s = 'a data scientist'
s.find('t')

4

### Exercise 14

<span style="color:green">Use a method chain to do the following to the given string: Strip each letter 'a' from the left side and then switch the case of each letter (from lower to upper and from upper to lower).</span>

In [17]:
test_string = 'aaaa TOO many aaaaaaaaa'
test_string.lstrip('a').swapcase()

' too MANY AAAAAAAAA'

### Exercises 15-22

Use the following string, `s`, for all exercises 15-22

In [18]:
s = 'the astros will win the world series'

### Exercise 15

<span style="color:green">Select index 9 from `s`.</span>

In [19]:
s[9]

's'

### Exercise 16

<span style="color:green">Select the third to last character from `s`.</span>

In [20]:
s[-3]

'i'

### Exercise 17

<span style="color:green">Select the last 10 characters from `s`.</span>

In [21]:
s[-10:]

'rld series'

### Exercise 18

<span style="color:green">Select the substring 'astros' from `s`.</span>

In [23]:
s[4:10]

'astros'

### Exercise 19

<span style="color:green">Slice `s` from index 5 to the end by every 4th character.</span>

In [22]:
s[5::4]

'ssliho i'

### Exercise 20

<span style="color:green">Select every third character from `s` starting from the last character and ending with the first. </span>

In [24]:
s[::-3]

'sr r tilwose'

### Exercise 21

<span style="color:green">Does the string 'row' appear in `s`?</span>

In [25]:
'row'in s

False

### Exercise 22

<span style="color:green">Does the string 'row' appear in the reverse of `s`?</span>

In [26]:
'row' in s[::-1]

True

### Exercise 23

<span style="color:green">A palindrome is a string that has the same order of characters when it is reversed. Create a palindrome that has at least 5 characters in it and assign it to variable `a`. Verify that it is a palindrome.</span>

In [27]:
a = 'PoaaoP'
a == a[::-1]

True

### Exercise 24

<span style="color:green">Use four chained methods on a string of your choice.</span>

In [28]:
test_string.lstrip('a').swapcase().replace('A','E').find('o')

2

### Exercise 25

<span style="color:green">What is the difference between the `find` and `rfind` methods? Call both of these methods on a string of your choice to show the difference.</span>

In [30]:
#Find returns the first instance while Rfind returns the last instance
win = 'A New Day is upon us All'
print(win.find('A'))
print(win.rfind('A'))

0
21

### Exercise 26

<span style="color:green">Create an f-string that inserts the values for `team` and `games` in it.</span>

In [34]:
team = "Astros"
games = 99

f'I kinda like {team} because they won {games} times this year'

'I kinda like Astros because they won 99 times this year'